<div class="app-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-xs-12">
        <div class="app-text-btc">
          <img src="assets/bitcoin.svg" alt="bitcoin" width="64" height="64">
          <h1>Bitcoin</h1>
        </div>

        <br>

        <h2 class="app-prices">
          ${{ currentPrice }}
          <span class="app-accent-color">{{ currentChange }}%</span>
        </h2>
        <br>
      </div>

      <div class="col-md-12 col-xs-12">
        <canvas
          baseChart
          chartType="line"
          class="app-chart"
          [labels]="labels"
          [datasets]="lineChartData"
          [options]="lineChartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</div>
