.app-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-accent-color {
  color: #E94560;
}

.app-text-btc {
  display: flex;
  align-items: center;
  gap: 18px;
}

.app-chart {
  max-height: 70vh;
}

@media screen and (max-width: 720px){
  .app-container {
    margin: 0 18px;
  }

  .app-text-btc {
    justify-content: center;
  }

  .app-prices {
    text-align: center;
  }
}
